:root{
    --dark: #212529;
    --oscuro3: #343A40;
    --oscuro2: #495057;
    --oscuro1: #6c757d;
    --medio: #ADB5BD;
    --claro3: #CED4DA;
    --claro2: #DEE2E6;
    --claro1: #E9ECEF;
    --light: #F8F9FA;
    --oro: #d4af37;
    --silver: #e3e4e5;
}
.swiper{
    width: 900px;
    padding: 150px 0 50px 0;
    height: 100%;
    margin-top: 20px
}

.swiper .swiper-slide{
    width: 300px;
    height: 80%;
    background-color: var(--dark);
    box-shadow: 0 0 20px rgba(212, 175, 55, 1);
    padding: 20px 40px 5px 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}
.icons i{
    font-size: 20px;
    color: var(--oro);
}
.icons img{
    width: 120px;
}
.news-content{
    display: flex;
    justify-content: space-between;
}
.news-txt{
    flex-basis: 50%;
    text-align: left;
}
.news-txt h2{
    font-size: 20px;
    color: var(--silver);
    text-transform: uppercase;
}
.news-content {
    font-size: 14;
    color: var(--silver);
}
.news-img{
    flex-basis: 50%;
    text-align: right;
}
.news-img img{
    width: 120px;
}
.btn-1{
    display: inline-block;
    padding: 13px 50px ;
    border: 1px solid var(--oro);
    border-radius: 25px;
    color: var(--oro);
    text-decoration: none;
    margin-top: 50px;
    transition: 0.5s;
}
.btn-1:hover{
    font-size: 20px;
    transition: 0.5s;
    background-color: var(--oro);
    color: var(--dark);
    box-shadow: 11px 13px 5px 1px rgba(3,12,36,0.87);
    -webkit-box-shadow: 11px 13px 5px 1px rgba(3,12,36,0.87);
    -moz-box-shadow: 11px 13px 5px 1px rgba(3,12,36,0.87);
}