:root{
    /* CSS HEX */
--eerie-black: #1c1c1aff;
--black-olive: #313328ff;
--drab-dark-brown: #464935ff;
--field-drab: #706442ff;
--chamoisee: #9a7e4fff;
--lion: #b69655ff;
--gold-metallic: #d1ae5aff;
--ecru: #d6be7bff;
--vanilla: #dace9cff;
}

body{
    background: #fae1dd;
    margin: 0px;
    padding: 0px;
}
header picture{
    position: absolute;
    text-align: center;
    left: -2vh;
    top: -0.01vh;
}
header picture source{
    position: absolute;


}
header picture img{
    position: absolute;
    
}
header{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0px;
    width: 100vw;
    
    height: 100vh;
    font-size: 30px;
}
header #best{
    z-index: 10;
    position: absolute;
    color: var(--gold-metallic);
    -webkit-text-stroke: 3px var(--field-drab);
    font-family: 'Dancing Script', cursive;
    font-size: 100px;   
}
header .boda{
    margin: auto;
    z-index: 10;
    color: var(--gold-metallic);
    -webkit-text-stroke: 3px var(--field-drab);
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
    
}

header #back{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

#countdown{
    margin: 0px;
    background-color: var(--drab-dark-brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    position: relative;
    color: var(--ecru);
}

#countdown .numeros{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 35px;
}
#countdown .numeros div{
    background-color: var(--eerie-black);
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
#countdown .numeros div #nr{
    margin-top: 50px;
    margin-bottom: 0px;
}
#countdown .numeros div h1{
    color: var(--ecru);
    margin-top: 0px;
}

#nyn{
    padding-top: 40px;
    position: relative;
    background-color: var(--chamoisee);
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    color: var(--eerie-black);
    display: flex;
    flex-direction: column;
}

#nyn h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--ecru);
}
#nyn #tnyn{
    width: 600px;
    align-self: center;
    background-color: var(--eerie-black);
    border-radius: 40px;
}
#nyn #info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#nyn #info .n{
    background-color: var(--field-drab);
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    color: var(--vanilla);
}
#nyn #info .n #top{
    margin-top: auto;
}
#nyn #info .n #bottom{
    margin-bottom: auto;
}
#nyn #info .n p{
    margin: 0px;
    
}
#nyn #info img{
    width: 400px;
    height: 400px;
}
#misa{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    background-color: var(--lion);
}
#misa .tm{
    display: flex;
    align-items: center;
}
#misa .tm h1{
    margin: 0px;
}
#misa .tm img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
#misa .cm{
    display: flex;
}
#misa .cm .cmt{
    margin: 10px;
}
#misa .cm .cmt a{
    text-decoration: none;
    display: inline-block;
    background-color: var(--field-drab);
    padding: 13px 50px ;
    border: 1px solid var(--oro);
    border-radius: 25px;
    color: var(--vanilla);
    text-decoration: none;
    transition: 0.5s;
}
#misa .cm .cmt a:hover{
    font-size: 50px;
    transition: 0.5s;
    background-color: var(--eerie-black);
    color: var(--vanilla);
    box-shadow: 11px 13px 5px 1px rgba(3,12,36,0.87);
    -webkit-box-shadow: 11px 13px 5px 1px rgba(3,12,36,0.87);
    -moz-box-shadow: 11px 13px 5px 1px rgba(3,12,36,0.87);
}
#misa .cm img{
    border-radius: 50px;
    width: 320px;
    height: 320px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#fiesta{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    background-color: var(--lion);
}
#fiesta .tf{
    display: flex;
    align-items: center;
}
#fiesta .tf h1{
    margin: 0px;
}
#fiesta .tf img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
#fiesta .cf{
    display: flex;
}
#fiesta .cf .cft{
    margin: 10px;
}
#fiesta .cf .cft a{
    text-decoration: none;
    display: inline-block;
    background-color: var(--field-drab);
    padding: 13px 50px ;
    border: 1px solid var(--oro);
    border-radius: 25px;
    color: var(--vanilla);
    text-decoration: none;
    transition: 0.5s;
}
#fiesta .cf .cft a:hover{
    font-size: 50px;
    transition: 0.5s;
    background-color: var(--eerie-black);
    color: var(--vanilla);
    box-shadow: 11px 13px 5px 1px rgba(3,12,36,0.87);
    -webkit-box-shadow: 11px 13px 5px 1px rgba(3,12,36,0.87);
    -moz-box-shadow: 11px 13px 5px 1px rgba(3,12,36,0.87);
}
#fiesta .cf img{
    border-radius: 50px;
    width: 320px;
    height: 320px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#regalos{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding: 50px 0 0 0;
    background: rgb(182,150,85);
background: linear-gradient(180deg, rgba(182,150,85,1) 22%, rgba(209,174,90,1) 53%, rgba(218,206,156,1) 81%);
}
.containeregalos{
    padding: 0;
    width: 900px;
    height: 90%;
    margin-bottom: 60px;
    background-color: var(--black-olive);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 40px;
    font-size: 14px;
    position: relative;
}
.containeregalos h1{
    font-size: 40px;
    color: #fae1dd;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}
.containeregalos p{
    font-size: 20px;
    color: #fae1dd;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}
#confirmar{
    display: flex;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--vanilla);
    margin-bottom: 0px;
}
#confirmar div a{
    text-decoration: none;
    display: inline-block;
    background-color: #101720;
    padding: 13px 50px ;
    border: 1px solid var(--oro);
    border-radius: 25px;
    color: var(--oro);
    text-decoration: none;
    transition: 0.5s;
    margin-bottom: 100px;
}
#confirmar div a:hover{
    font-size: 50px;
    transition: 0.5s;
    background-color: var(--oro);
    color: var(--dark);
    box-shadow: 11px 13px 5px 1px rgba(3,12,36,0.87);
    -webkit-box-shadow: 11px 13px 5px 1px rgba(3,12,36,0.87);
    -moz-box-shadow: 11px 13px 5px 1px rgba(3,12,36,0.87);
}

@media screen and (max-width: 500px) {
    header #best{
        font-size: 95px;   
    }
    header #uno{
        margin: auto;
    }
    header #dos{
        margin-top: 300px;
    }
    #countdown{
        font-size: 35px;
    }
    #countdown .numeros{
        flex-direction: column;
    }
    #countdown .numeros div{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #nyn #info{
        flex-direction: column;
    }
    #nyn #info #a{
        margin-bottom: 80px;
    }
    #nyn #info img{
        width: 300px;
        height: 300px;
    }
    #misa .tm img{
        width: 90px;
        height: 90px;
        margin-right: 30px;
    }
    #misa .cm{
        flex-direction: column;
    }
    #misa .cm .cmt a{
        font-size: 30px;
        margin-bottom: 20px;
    }
    #misa .cm .cmt a:hover{
        font-size: 40px;
    }
    #misa .cm img{
        margin-left: 22px;
        margin-bottom: 50px;
    }
    #fiesta .tf img{
        width: 75px;
        height: 75px;
        margin-right: 10px;
    }
    #fiesta .tf h1{
        margin-right: 60px;
    }
    #fiesta .cf{
        flex-direction: column;
    }
    #fiesta .cf .cft a{
        font-size: 30px;
        margin-bottom: 20px;
    }
    #fiesta .ct .ctt a:hover{
        font-size: 40px;
    }
    #fiesta .cf img{
        margin-left: 22px;
        margin-bottom: 50px;
    }
    #confirmar{
        flex-direction: column;
    }
    #confirmar div a{
        font-size: 20px;
    }
    #confirmar div a:hover{
        font-size: 28px;
    }
    #nyn #tnyn{
        width: 400px;
        font-size: 30px;
        margin-bottom: 20px
    }
}